<div class="header">
    <a>
        <img>
    </a>
    <% for (var i = 0; i <=navBarList.length - 1;  i++ ) { %>
        <a href="#">
            <%- navBarList[i] %>
        </a>
    <% } %>
    <a>
        
    </a>
</div>