    <!-- header -->
    
    <%- include('header', {navBarList: navBarList}); %>

    <!-- pro iPhone section -->

    <section id="homeProSection">
        <div class="homeProSectionTitle">
            <h1>oPhone 69 Pro</h1>
            <h3>Pro.Beyond</h3>
            <div class="homeProSectionLinks">
                <a style="margin-left: 2.5rem;" href="/learnMore/oPhonePro">Learn More ></a>
                <a style="margin-right: 2.5rem;" href="Buy">Buy ></a>
            </div>
        </div>
        <div class="homeSectionImageDiv"><img class="homeSectionImage" src="/images/iPhone-pro.png" alt=""></div>
    </section>

    <!-- normal iPhone section -->

    <section id="homeNormalSection">
        <div class="homeNormalSectionTitle">
            <h1>oPhone 69</h1>
            <h3>Bigger is Better</h3>
            <div class="homeNormalSectionLinks">
                <a style="margin-left: 2.5rem;" href="/learnMore/oPhone">Learn More ></a>
                <a style="margin-right: 2.5rem;" href="Buy">Buy ></a>
            </div>
        </div>
        <div class="homeSectionImageDiv"><img class="homeSectionImage" src="/images/iPhone-normal.png" alt=""></div>
    </section>

    <!-- Watch -->

    <section id="watchSection">
        <div class="homeNormalSectionTitle">
            <h1>Watch Pro</h1>
            <h3>Track Workout Like a Pro</h3>
            <div class="homeNormalSectionLinks">
                <a style="margin-left: 2.5rem;" href="/learnMore/oWatch">Learn More ></a>
                <a style="margin-right: 2.5rem;" href="Buy">Buy ></a>
            </div>
        </div>
        <div class="homeSectionImageDiv"><img class="homeSectionImage" src="/images/watch.png" alt=""></div>
    </section>

    <div class="row">
            <% for (var i = 0; i <=cards.length - 1;  i++ ) { %>
                <div class="col-6 nopadding">
                    <%- include('card', {card: cards[i]}); %>
                </div>
            <% } %>
    </div>
    
    <%- include('footer') %>
