.learnMorePageContainer{
    margin-top: 4rem;
}

.ytVideoContainer{
    display: flex;
    justify-content: center;
}

.ytVideoContainer h1{
    position: absolute;
    bottom: 28%;
    font-size: 5rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.ytVideoContainer h5{
    position: absolute;
    bottom: 25%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.ytVideoContainer h6{
    font-weight: 700;
    font-size: 1.3rem;
    position: absolute;
    bottom: 40%;
    color: #00ff41;
    font-family: 'Roboto', sans-serif;
}

.ytVideo{
    border-radius: 15px;
    width: 1333px;
    height: 750px;
}

.imageTray{
    display: flex;
    justify-content: space-between;
    padding: 0 30% 1rem 30%;
}

.imageTrayItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    transition: transform .2s;
}

.imageTrayItem:hover{
    color: black;
    text-decoration: none;
    transform: scale(1.1);
}

.featuresCards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trayImage{
    height: 50px;
    width: 50px;
}

.featuresCard{
    display: block;
    margin:10px;
    height: 750px;
    width: 1333px;
    border-radius: 15px;
    text-align: center;
    padding-top: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
}

.featuresCard img{
    position: relative;
    margin-top: 2rem;
    height: 400px;
    width: auto;
}

.Light{
    color: black;
    background-color: #f5f5f7;
}

.Dark{
    color: white;
    background-color: black;
}

.cardDescription{
    padding: 2rem 25% 0 25%
}

@media screen and (max-width: 480px) {
    .ytVideoContainer h1{
        position: absolute;
        bottom: 66%;
        font-size: 4rem;
        color: black;
        font-family: 'Roboto', sans-serif;
        background: -webkit-linear-gradient(60deg, #E21143, #FFB03A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .ytVideoContainer h5{
        position: absolute;
        bottom: 64%;
        color: black;
        font-family: 'Roboto', sans-serif;
    }
    
    .ytVideoContainer h6{
        font-weight: 700;
        font-size: 1.3rem;
        position: absolute;
        bottom: 74%;
        color: #00ff41;
        font-family: 'Roboto', sans-serif;
    }
    
    .ytVideo{
        border-radius: 5px;
        width: 95%;
        height: auto;
        margin-top: 40%;
    }

    .trayImage{
        height: 30px;
        width: 30px;
    }
    
    .imageTray{
        display: flex;
        justify-content: space-between;
        padding: 0 10% 1rem 10%;
    }
    
    .imageTrayItem{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: #000;
        transition: transform .2s;
    }

    .imageTrayItem p{
        font-size: 0.8rem;
        width: 3.5rem;
        text-align: center;
    }

    .cardDescription{
        padding: 2rem 5% 0 5%
    }
    
    .imageTrayItem:hover{
        color: black;
        text-decoration: none;
        transform: scale(1.1);
    }
    
    .featuresCards{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .featuresCard{
        display: block;
        margin:10px;
        height: 60vh;
        width: 100vw;
        border-radius: 5px;
        text-align: center;
        padding-top: 1.5rem;
        font-weight: 600;
        margin-top: 3rem;
    }
    
    .featuresCard img{
        position: relative;
        margin-top: 2rem;
        height: 100px;
        width: auto;
    }
}