html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

#homeProSection{
    background-color: #000000;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.homeSectionImage{
    height: 55%;
    width: auto;
}

.homeSectionImageDiv{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 90vh;
}

.homeProSectionTitle{
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 4rem;
}

.homeProSectionTitle h1{
    font-size: 3rem;
    margin-bottom: 0.7rem;
}

.homeProSectionTitle h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.homeProSectionTitle a{
    font-size: 1.4rem;
    font-weight: 200;
    margin: 0;
    color: #1d69b3;
    text-decoration: none;
}

.homeProSectionTitle a:hover{
    text-decoration: underline;
}

.homeProSectionLinks{
    display: flex;
    justify-content: space-between;
}

#homeNormalSection{
    background-color: #fbfbfd;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.homeNormalSectionTitle{
    text-align: center;
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    width: 19%
}

.homeNormalSectionTitle h1{
    font-size: 3rem;
    margin-bottom: 0.7rem;
}

.homeNormalSectionTitle h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.homeNormalSectionTitle a{
    font-size: 1.4rem;
    font-weight: 200;
    margin: 0;
    color: #1d69b3;
    text-decoration: none;
}

.homeNormalSectionLinks{
    display: flex;
    justify-content: space-between;
}

.homeNormalSectionTitle a:hover{
    text-decoration: underline;
}

.cardCustom{
    height: 65vh;
    width: 47.5vw;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.cardSectionTitle{
    text-align: center;
    position: absolute;
    color: #fbfbfd;
    font-family: 'Roboto', sans-serif;
    width: 35%
}

.cardSectionTitle h1{
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
}

.cardSectionTitle h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.cardSectionTitle a{
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    color: #1d69b3;
    text-decoration: none;
}

.cardSectionTitle a:hover{
    text-decoration: underline;
}

.cardSectionLinks{
    display: flex;
    justify-content: space-between;
}

.cardImage{
    height: 65%;
    width: auto;
}

.cardImageDiv{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 65vh;
}

#watchSection{
    background-color: #fbfbfd;
    height: 90vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    #homeProSection{
        background-color: #000000;
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .homeSectionImage{
        height: 45%;
        width: auto;
    }
    
    .homeSectionImageDiv{
        display: flex;
        align-items: end;
        justify-content: center;
        height: 60vh;
    }

    .watch{
        width: 95vw;
        height: auto;
        margin-bottom: 3rem;
    }

    .homeProSectionTitle{
        text-align: center;
        position: absolute;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-top: 4rem;
    }
    
    .homeProSectionTitle h1{
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
    }
    
    .homeProSectionTitle h3{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 400;
        margin-top: 0;
    }
    
    .homeProSectionTitle a{
        font-size: 1.2rem;
        font-weight: 200;
        margin: 0;
        color: #268ff1;
        text-decoration: none;
        margin: 0 0.5rem
    }

    #homeNormalSection{
        background-color: #fbfbfd;
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .homeNormalSectionTitle{
        text-align: center;
        position: absolute;
        color: black;
        font-family: 'Roboto', sans-serif;
        margin-top: 2rem;
        width: auto
    }
    
    .homeNormalSectionTitle h1{
        font-size: 2rem;
        margin-bottom: 0.7rem;
        width: auto;
    }
    
    .homeNormalSectionTitle h3{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 400;
        margin-top: 0;
    }
    
    .homeNormalSectionTitle a{
        font-size: 1.1rem;
        font-weight: 200;
        margin: 0;
        color: #268ff1;
        text-decoration: none;
    }

    #watchSection{
        background-color: #fbfbfd;
        height: 60vh;
        display: flex;
        justify-content: center;
    }

    .cardCustom{
        height: 60vh;
        width: 100vw;
        background-color: black;
        display: inline-flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;
        border-radius: 0px;
    }
    
    .cardSectionTitle{
        text-align: center;
        position: absolute;
        color: #fbfbfd;
        font-family: 'Roboto', sans-serif;
        width: 60%;
        margin-top: 20px;
    }
    
    .cardSectionTitle h1{
        font-size: 2.3rem;
        margin-bottom: 0.7rem;
    }
    
    .cardSectionTitle h3{
        font-size: 1.0rem;
        margin-bottom: 1rem;
        font-weight: 400;
        margin-top: 0;
    }
    
    .cardSectionTitle a{
        font-size: 1.1rem;
        font-weight: 200;
        margin: 0;
        color: #1d69b3;
        text-decoration: none;
    }
    
    .cardSectionTitle a:hover{
        text-decoration: underline;
    }
    
    .cardSectionLinks{
        display: flex;
        justify-content: space-between;
    }
    
    .cardImage{
        height: 55%;
        width: 90%;
    }
    
    .cardImageDiv{
        display: flex;
        align-items: end;
        justify-content: center;
        height: 60vh;
    }
  }